dist: trusty
sudo: false

language: ruby
cache: bundler
bundler_args: "--jobs=3 --retry=3 --deployment --without production"

addons:
  postgresql: "9.6"

before_install:
  - gem update --system
  - gem install bundler
before_script:
  - bin/rake db:setup
script:
  - bundle exec rspec
  - bundle exec rubocop

branches:
  only:
    - master
    - develop
