dist: trusty
sudo: false

language: ruby
cache: bundler
bundler_args: "--jobs=3 --retry=3 --deployment --binstubs --without production"

addons:
  postgresql: "9.6"

before_install:
  - gem update --system # https://github.com/sickill/rainbow/issues/44
  - gem install bundler
before_script:
  - bin/rake db:setup
script:
  - rspec

branches:
  only:
    - master
    - develop
